<div class="statistics_container">
  <span class="statistics_title">Statistics</span>
  <div class="statistics_content">
    <div class="statistics_content_header">
      <div class="statistics_content_header_left">
        <span>Weekly Comparison</span>
        <a href="">
          <img src="./assets/images/ChevronDown.svg" alt="" />
        </a>
      </div>
      <div class="statistics_content_header_rigth">
        <span class="indicator_this"></span>
        <span>This week</span>
        <span class="indicator_last"></span>
        <span>Last week</span>
      </div>
    </div>
    <div class="statistics_content_body">
      <img src="./assets/images/GraphBar.svg" alt="" />
    </div>
  </div>
</div>
