.statistics_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  .statistics_title {
    font-size: 1.375rem;
    font-weight: 400;
    color: #878787;
    margin-bottom: 0.5rem;
  }

  .statistics_content {
    padding: 1.25rem 1.5rem;
    border-radius: 0.5rem;
    background: #fff;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0px 20px 25px 0px #4c67641a;
  }
}
