<div class="goals_container">
  <span class="goals_title">Goals</span>
  <div class="goals_content">
    <div class="goals_details">
      <div class="goals_details_header">
        <div class="goals_details_header_left">
          <span>$20,000</span>
          <a href="">
            <img src="./assets/images/Edit.svg" alt="" />
          </a>
        </div>
        <span href="">May, 2023</span>
      </div>
      <div class="goals_details_content">
        <div class="goals_details_content_left">
          <div class="goals_details_content_left_top">
            <img src="./assets/images/Award.svg" alt="" />
            <div class="goals_details_content_left_center">
              <span>Target Achieved</span>
              <span>$12,500</span>
            </div>
          </div>
          <div class="goals_details_content_left_bottom">
            <img src="./assets/images/OctionGoal.svg" alt="" />
            <div class="goals_details_content_left_center">
              <span>This month Target</span>
              <span>$20,000</span>
            </div>
          </div>
        </div>
        <div class="goals_details_content_rigth">
          <img src="./assets/images/Graph.svg" alt="" />
          <span>Target vs Achievement</span>
        </div>
      </div>
    </div>
  </div>
</div>
