.dashboard_container {
  display: flex;
  height: 100%;
  width: 100%;

  .dashboard_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    .dashboard_header {
      width: 100%;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
  margin-bottom: 20px;
  border: 2px solid gray;
  width: 100%;
  height: 100%;
}

.item {
  background-color: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: move;
  text-align: center;
  width: 50%;
  height: 10%;
}
