<div class="dashboard_container">
  <fbank-nav-bar class="dashboard_nav_bar"></fbank-nav-bar>
  <div class="dashboard_content">
    <fbank-header class="dashboard_header"></fbank-header>
    <div class="example-boundary">
      <TotalBalance
        class="example-box total_balance"
        cdkDragBoundary=".example-boundary"
        cdkDrag
      />
      <Goals
        class="example-box goals"
        cdkDragBoundary=".example-boundary"
        cdkDrag
      />
      <UpcommingBills
        class="example-box upcomming_bill"
        cdkDragBoundary=".example-boundary"
        cdkDrag
      />
      <RecentTransaction
        class="example-box recent_transaction"
        cdkDragBoundary=".example-boundary"
        cdkDrag
      />

      <Statistic
        class="example-box statics"
        cdkDragBoundary=".example-boundary"
        cdkDrag
      />
      <ExpensesBreakdown
        class="example-box expenses_breakdown"
        cdkDragBoundary=".example-boundary"
        cdkDrag
      />
    </div>
  </div>
</div>
