<div class="draggable_container">
  <fbank-nav-bar></fbank-nav-bar>
  <div class="draggable_content">
    <fbank-header class="draggable_header"></fbank-header>

    <button (click)="toggleDragAndDrop()">
      Habilitar/Desabilitar Drag and Drop
    </button>

    <div cdkDropListGroup>
      <div
        id="list-progress"
        cdkDropList
        [cdkDropListData]="progress"
        class="example-list"
        cdkDropListOrientation="vertical"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="draggable_box"
          *ngFor="let item of progress"
          [attr.draggable]="dragEnabled"
          cdkDrag
          [cdkDragDisabled]="!dragEnabled"
        >
          {{ item }}
        </div>
      </div>
    </div>
  </div>
</div>
