<div class="upcomming_bills_container">
  <div class="upcomming_bills_title">
    <span>Upcoming Bill</span>
    <a href="">
      <span>View All</span>
      <img src="./assets/images/ChevronRightGray.svg" alt="" />
    </a>
  </div>
  <div class="upcomming_bills_content">
    <div class="upcomming_bills_content_top">
      <div class="upcomming_bills_content_top_date">
        <span>May</span>
        <span>15</span>
      </div>
      <div class="upcomming_bills_content_top_subscription">
        <img src="./assets/images/Figma.svg" alt="" />
        <span>Figma - Monthly</span>
        <span>Last Charge - 14 May, 2022</span>
      </div>
      <span>$150</span>
    </div>
    <div class="upcomming_bills_content_bottom">
      <div class="upcomming_bills_content_bottom_date">
        <span>Jun</span>
        <span>16</span>
      </div>
      <div class="upcomming_bills_content_bottom_subscription">
        <img src="./assets/images/Adobe.svg" alt="" />
        <span>Adobe - Yearly</span>
        <span>Last Charge - 17 Jun, 2023</span>
      </div>
      <span>$559</span>
    </div>
  </div>
</div>
