<div class="recent_transactions_container">
  <div class="recent_transactions_title">
    <span>Recent Transaction</span>
    <a href="">
      <span>View All</span>
      <img src="./assets/images/ChevronRightGray.svg" alt="" />
    </a>
  </div>
  <div class="recent_transactions_content">
    <div class="recent_transactions_menu_tab">
      <a href="">All</a>
      <a href="">Revenue</a>
      <a href="">Expenses</a>
    </div>
    <div
      class="recent_transactions_item_list"
      *ngFor="let item of recentsTransactions; let last = last"
    >
      <div class="recent_transactions_item" [class.last-element]="last">
        <div class="recent_transactions_item_icon_details">
          <img src="{{ item.urlImage }}" alt="" />
          <div class="recent_transactions_item_details">
            <span>{{ item.product }}</span>
            <span>{{ item.productDesc }}</span>
          </div>
        </div>
        <div class="recent_transactions_item_price">
          <span>{{ item.price }}</span>
          <span>{{ item.dateTransaction }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
