<div class="total_balance_container">
  <span class="total_balance_title">Total Balance</span>
  <div class="total_balance_content">
    <div class="total_balance_details">
      <div class="total_balance_details_header">
        <span>$240,399</span>
        <a href="">All Accounts</a>
      </div>
      <div class="total_balance_details_account_type">
        <div class="total_balance_details_account_type_content">
          <span>Account type</span>
          <span>Credit Card</span>
          <span>**** **** **** 2598</span>
        </div>
        <div class="total_balance_details_account_type_logo_amount">
          <img src="./assets/images/MastercardLogo.svg" alt="" />
          <div class="total_balance_details_account_type_amount">
            <span>$25000</span>
            <img src="./assets/images/Frame.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="total_balance_slider">
      <div class="total_balance_slider_previous">
        <img src="./assets/images/ChevronLeftGray.svg" alt="" />
        <span>Previous</span>
      </div>
      <img src="./assets/images/Sliders.svg" alt="" />
      <div class="total_balance_slider_next">
        <span>Next</span>
        <img src="./assets/images/ChevronRight.svg" alt="" />
      </div>
    </div>
  </div>
</div>
