.dashboard_container {
  display: flex;
  height: 100%;
  width: 100%;

  .dashboard_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    .dashboard_header {
      width: 100%;
    }

    .dashboard_max_width {
      width: 100%;
    }
  }
}
