<div class="dashboard_container">
  <fbank-nav-bar></fbank-nav-bar>
  <div class="dashboard_content">
    <fbank-header class="dashboard_header"></fbank-header>

    <div cdkDropListGroup style="width: 100%">
      <div
        id="list-progress"
        cdkDropList
        [cdkDropListData]="progress"
        class="example-list"
        cdkDropListOrientation="horizontal"
        [cdkDropListConnectedTo]="['list-todo', 'list-done']"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box"
          *ngFor="let item of progress"
          cdkDrag
          [cdkDragStartDelay]="1000"
        >
          <ExpensesBreakdown *ngIf="item == 'expenses-breakdown'" />
          <Goals *ngIf="item == 'goals'" />
          <RecentTransaction *ngIf="item == 'recent-transaction'" />
          <TotalBalance *ngIf="item == 'total-balance'" />
          <Statistic *ngIf="item == 'statistic'" />
          <UpcommingBills *ngIf="item == 'upcomming-bills'" />
        </div>
      </div>

      <div
        id="list-todo"
        cdkDropList
        [cdkDropListData]="todo"
        class="example-list"
        cdkDropListOrientation="horizontal"
        [cdkDropListConnectedTo]="['list-progress', 'list-done']"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box"
          *ngFor="let item of todo"
          cdkDrag
          [cdkDragStartDelay]="1000"
        >
          <ExpensesBreakdown *ngIf="item == 'expenses-breakdown'" />
          <Goals *ngIf="item == 'goals'" />
          <RecentTransaction *ngIf="item == 'recent-transaction'" />
          <TotalBalance *ngIf="item == 'total-balance'" />
          <Statistic *ngIf="item == 'statistic'" />
          <UpcommingBills *ngIf="item == 'upcomming-bills'" />
        </div>
      </div>

      <div
        id="list-done"
        cdkDropList
        [cdkDropListData]="done"
        class="example-list"
        cdkDropListOrientation="horizontal"
        [cdkDropListConnectedTo]="['list-progress', 'list-todo']"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box"
          *ngFor="let item of done"
          cdkDrag
          [cdkDragStartDelay]="1000"
        >
          <ExpensesBreakdown *ngIf="item == 'expenses-breakdown'" />
          <Goals *ngIf="item == 'goals'" />
          <RecentTransaction *ngIf="item == 'recent-transaction'" />
          <TotalBalance *ngIf="item == 'total-balance'" />
          <Statistic *ngIf="item == 'statistic'" />
          <UpcommingBills *ngIf="item == 'upcomming-bills'" />
        </div>
      </div>
    </div>
  </div>
</div>
