.balances_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.example-box {
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  margin-right: 25px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.example-boundary {
  width: 100%;
}

.total_balance,
.goals,
.upcomming_bill {
  width: 22rem;
  height: 18rem;
  left: 2rem;
  top: 2rem;
}

.goals {
  left: 4rem;
}

.upcomming_bill {
  left: 6rem;
}

.recent_transaction {
  width: 22rem;
  height: 37.625rem;

  left: 2rem;
  top: 4rem;
}

.statics {
  width: 47.5rem;
  height: 18.625rem;

  left: 4rem;
  top: 4rem;
}

.expenses_breakdown {
  width: 47.5rem;
  height: 14.9375rem;

  left: 27.5rem;
  bottom: 11rem;
}
