<div class="balances_container">
  <div class="example-boundary">
    <TotalBalance
      id="total_balance"
      class="example-box total_balance width_full"
      cdkDragBoundary=".example-boundary"
      cdkDrag
      draggable="true"
      (cdkDragStarted)="drop($event)"
      (cdkDragEnded)="dropEnd($event)"
    />
    <Goals
      class="example-box goals"
      cdkDragBoundary=".example-boundary"
      cdkDrag
    />
    <UpcommingBills
      class="example-box upcomming_bill"
      cdkDragBoundary=".example-boundary"
      cdkDrag
    />
    <RecentTransaction
      class="example-box recent_transaction"
      cdkDragBoundary=".example-boundary"
      cdkDrag
    />

    <Statistic
      class="example-box statics"
      cdkDragBoundary=".example-boundary"
      cdkDrag
    />
    <ExpensesBreakdown
      class="example-box expenses_breakdown"
      cdkDragBoundary=".example-boundary"
      cdkDrag
    />
  </div>
</div>
