/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:host {
  --primary-color: #cc0000;
  --secondary-color: #525256;
  --default-black: #191919;

  --white: #ffffff;

  --gray-50: #f3f3f3;
  --gray-100: #e8e8e8;
  --gray-200: #d1d1d1;
  --gray-300: #9f9f9f;
  --gray-400: #878787;
  --gray-500: #666666;

  --main-bg: #f4f5f7;
  --green: #4daf6e;
  --red: #e73d1c;
  --bg-1: #d2d2d2;
  --bg-2: #ffffff;

  --regular: "400";
  --medium: "500";
  --bold: "700";
  --extra-bold: "800";

  --xs: "0.75rem";
  --sm: "0.875rem";
  --md: "1rem";
  --lg: "1.125rem";
  --xl: "1.25rem";
  --2xl: "1.5rem";
  --4xl: "2rem";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 64rem;
  width: 98.9vw;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: var(--default-black);
  box-sizing: border-box;

  background: #F4F5F7;
}


/* Para navegadores baseados em Chromium (ex.: Chrome, Edge) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #191919;
  border-radius: 6px;
}

/* Para navegadores Firefox */
/* Nota: A partir do Firefox 64+, o suporte ao ::-moz-scrollbar foi removido */
/* Recomenda-se usar uma biblioteca como "OverlayScrollbars" para estilizar a barra de rolagem no Firefox */

/* Para navegadores baseados em Chromium (ex.: Chrome, Edge) */
::-webkit-scrollbar {
  width: 12px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #191919;
  border-radius: 6px;
}

/* Para navegadores baseados em Chromium (ex.: Chrome, Edge) */
::-webkit-scrollbar {
  width: 12px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #191919;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444242;
  border: 3px solid #191919;
}
